auto-save-list/
auto-save-list/
ac-comphist.dat
/bookmarks
/bookmarks.txt
backups/
elpa/
eshell/
elpy/
url/
transient/
persp/
history
org-roam.db
tramp.txt
recentf
projectile-bookmarks.eld
projectile.cache
tramp
/.org-id-locations
straight/build
straight/repos
straight/build-cache.el
!straight/versions/default.el
.cache/
.dap-breakpoints
.emacs.desktop
.emacs.desktop.lock
.lsp-session-v1
eclipse.jdt.ls/
ede-projects.el
eln-cache/
init.el.save
nov-places
places
request/
semanticdb/
type-break
workspace/
/site-lisp/
/projects
/ltximg/
/emms/
/eaf/
/persist/
/network-security.data
/image-dired/
/persp-confs/
/abbrev_defs
/dirvish/
/equake-persistent-display
/#init.el#
/tree-sitter/
/.netcoredbg_hist
/dap-ui-repl-python-history
